.articles {
    width: 100%;
    height:100%;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 40px;
    h1 {
      color: #00B000;
      line-height: 1.5em;
      text-align: center;
      margin-top: 1em;
      margin-bottom: 1em;
    }
    .article-header{
        border-bottom: 1px solid #82B7DF;
        display: flex;
        flex-direction: row;
        justify-content: space-between;;
    }
    .pencil{
      align-self: center;
      cursor: pointer;
    }
    .pencil:hover {
      fill:blue;
    }
    .addedit-buttons{
        float:right;
        button:first-child {
            margin-right: 20px;
        }
        margin-top:10px;
    }
    .add-article {
        &:hover {
            fill: blue;
        }
        float:left;
        cursor: pointer;
    }
    .non-visible{
        visibility: hidden;
    }
}
