
#articles h1, #articles h2, #articles h3, #articles h4, #articles h5, #articles h6 {
	color:#00B000;   /* 63AF56*/
	line-height: 1.5em;
	text-align: center;
	margin-top: 1em; margin-bottom: 1em; }

/* Заголовок на Главной */
div.site_header h1
{	font-family: Tahoma, Verdana, Georgia;
	color: #00F800;
	font-size: 200%;
	font-weight: 700;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=143, Color=#979998)";/*IE 8*/
text-shadow: 4px 3px 2px rgba(151,153,152,0.6);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#979998); /*IE 5.5-7*/
	 }

div.blog {} /* пустой блок как в оригинале для кнопок печати, почты */

/* Заголовки статей во всех блогах; отдельно - ссылки на них */
div.blog h1, div.blog h2 {
  border-bottom: 1px solid #82B7DF; }

/* класс подсветки активного пункта меню!!! */
.current.active {
  font-weight: bold; text-decoration: underline; }


.annotation-checkbox {
	max-width: 40px;
	max-height: 40px;
}

/* кнопки печати и почты */
#articles ul.actions {
	float: right;
	position: relative;
	bottom: 37px;
	text-align: right; }
#articles ul.actions li { display: inline; padding-left: 5px; margin-left: 0;}

/* стиль "Подробнее" */
p.readmore {
	text-align: right !important;
	font-style: italic; }
p.readmore a:link, p.readmore a:visited { color: #000; }
p.readmore a:hover { color: #CC0033; }

p.vrezka-r {
    width: 30%;
    float: right;
    border-left: 10px solid #4A8140;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #D3E6D0;
    padding: 10px 20px;
    margin-left: 15px;
    font-size: 90%;
    font-style: italic; }

p.vrezka-l {
        width: 30%;
        float: left;
        border-right: 10px solid #4A8140;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background: #D3E6D0;
        padding: 10px 20px;
        margin-right: 15px;
        font-size: 90%;
        font-style: italic; }

        p.stih {
            font-style: italic;
            margin: 0.8em 0 0.8em 3em;
            line-height: 1.35em;
            text-align: left; }

            p.dialog { margin-left: 2em; }
            @media all and (max-width: 600px) {
               #articles p.cent img { max-width: 50%; height: auto; }
               #articles p.dialog  { margin-left: 0.5em !important; }

            }
p.cent { text-align: center !important; }

.add-article-form{
	.form-control {
		height:25px;
	}
}

#articles p, #articles li {
	text-align: justify;
	line-height: 1.2em;
	margin-top: 0.8em;
	margin-bottom: 0.8em; }

#articles li {
	margin-left: 2em; }

.articles {
    height:90%;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 40px;
    .article-header {
        h1 {
            color: #00B000;
            line-height: 1.5em;
            text-align: center;
            margin-top: 1em;
            margin-bottom: 1em;
        }
    }
    .article-header{
        border-bottom: 1px solid #82B7DF;
        display: flex;
        flex-direction: row;
        justify-content: space-between;;
    }
    .pencil{
      align-self: center;
      cursor: pointer;
    }
    .pencil:hover {
      fill:blue;
    }
    .addedit-buttons{
        float:right;
        button:first-child {
            margin-right: 20px;
        }
        margin-top:10px;
    }
    .add-article {
        &:hover {
            fill: blue;
        }
        float:left;
        cursor: pointer;
    }
    .non-visible{
        visibility: hidden;
    }
}

.non-displayable{
  display: none;
}

.modal-content {
  .form-group {
    margin: 30px 10px 0px 10px;
  }
	.form-group-vertical {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 45%;
		margin: 5px 10px 0px 10px;
		&>label {
			margin-bottom: 0;
		}
		&>select {
			width: 100%;
		}
	}
	.form-group-horizontal {
		margin: 5px 10px 0px 10px;
		display: flex;
		justify-content: center;
		flex-direction: row;
		align-items: center;
		& > label {
			flex:2;
		}
		& > input {
			flex:10;
			margin:10px 0;
			text-align:center;
		}
	}
	div.form-group-horizontal.first {
		margin-top: 30px!important;
	}
  .row {
    margin: 10px 10px;
  }
  .btn-group {
    float:right;
  }
}

.dragger {
  visibility: hidden;
}

.dragger.shuffle {
  float:right;
  margin-top:5px;
  margin-right:5px;
  &:hover{
    cursor: pointer;
    fill:blue;
  }
}

.articles {
  li.user-admin:hover {
    outline:1px black dotted;
    .dragger {
      visibility: visible;
    }
  }
}


.gridster {
  ul {
    list-style-type: none;
  }
}

ng-md-icon[icon="close"] {
    cursor: pointer;
    &:hover {
        fill:blue;
    }
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
