@import 'vars';
@import 'typography';
@import "./components/header";
@import "./components/navbar";
@import "./components/sidebar";
@import "./components/modal.scss";
@import "./articles.scss";
@import "./Maket38.scss";
@import "./structure.scss";
@import "./responsive-menu.scss";
@import "./Maket38.scss";
@import "./accordion.scss";

body {
    font-family: Verdana, 'Trebuchet MS', Tahoma, Arial;
    font-size: 13px;
    color: #000;
    line-height: 1.5em;
    margin: 0;
    background: linear-gradient(to bottom, rgba(222,229,213,0) 28%,rgba(165,201,86,1) 97%);
}

p.vrezka {
    background: #D3E6D0;
    border-bottom-left-radius: 20px;
    border-left: 10px solid #4A8140;
    border-top-left-radius: 20px;
    float: right;
    font-size: 90%;
    font-style: italic;
    margin-left: 15px;
    padding: 10px 20px;
    text-align: justify;
    width: 30%;
}

.accordion .title_block.no_children_block:before {
  display: none;
}

.accordion a:hover,
.accordion a:focus {
    text-decoration: none!important;
    outline: none!important;
}

div.global {
    margin: 0 auto;
    padding: 0;
    max-width: 1300px;
    background-image: url('../images/LA8des_top-1300.jpg'), url('../images/LA8des_bot-1300.jpg');
    background-position: top center, bottom center;
    background-repeat: repeat-x, repeat-y;
    background-size: 100%, 100%;
    box-shadow: 0 0 2em rgba(122,122,122,0.5);
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

#page {
  display:flex;
}

.content {
    width: 100%;
    height:100%
}

.navbar_local {
      margin-bottom: 0;
    li>a{
        cursor: pointer;
    }
}
