.ui-tree{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .tree-node-content {
        margin: 10px;
    }
    .tree-node {
        border: 1px solid #dae2ea;
        background: #f8faff;
        color: #7c9eb2;
    }
    .angular-ui-tree-handle {
        background: #f8faff;
        border: 1px solid #dae2ea;
        color: #7c9eb2;
        padding: 10px 10px;

    }
    .full-glyph {
      padding-top:0;
      padding-bottom: 0;
    }
    .tree-node {
      background: #f8faff;
      border: 1px solid #dae2ea;
      color: #7c9eb2;
      padding: 10px 10px;
      cursor: auto;
      text-decoration: none;
      font-weight: 700;
      box-sizing: border-box;
      min-height: 20px;
      line-height: 20px;
    }
    #tree-root {
        width:70%
    }
}