<footer>
<!-- нижнее меню - дубль верхнего -->
	<ul class="bottom_menu">
<li><a href=# >Главная</a></li>
<li><a href=# >Команда</a></li>
<li><a href=# >Благодарности</a></li>
<li><a href=# >Сотрудничество</a></li>
<li><a href=# >Книги</a></li>
<li><a href=# >Карта сайта</a></li>
<li><a href=# >Финансирование</a></li>
<li><a href=# >Контакты</a></li>
	</ul>

<p><br />© Реабилитационный благотворительный фонд «Зебра и К».<br />
 При цитировании и копировании материалов сайта ссылка на первоисточник обязательна.<br />
 Отзывы, замечания и предложения по сайту <u>пишите админу</u> сайта</p>
	  </footer>
