<nav class="clearfix navbar_local">
		<ul class="clearfix">
            <li><a ng-click="addArticle()" ng-show="$ctrl.enableEditing">Добавить статью</a></li>
			<li><a href="/">Главная</a></li>
            <li><a href="/Structure" ng-show="$ctrl.enableEditing">Структура сайта</a></li>
			<!--<li><a href="#">Команда</a></li>
			<li><a href="#">Благодарности</a></li>
			<li><a href="#">Книги</a></li>
            	<li><a href="#">Сотрудничество</a></li>
			<li><a href="#">Карта сайта</a></li>
			<li><a href="#">Финансирование</a></li>-->
		</ul>
		<a href="#" id="pull">Меню</a>
</nav>
