		<aside>
<div class="search" title="Имитатор модуля поиска"><i>Поиdsfdsfск по сайту...</i></div>

<!-- ************* блок аккордеон ******************* -->

<!-- Если нужно чтобы рубрика не закрывалась, надо: -->
<!-- div class="info" style="display: block;" -->

		<div class="accordion">
   <section class="accordion_item">
      <h3 class="title_block">Проблема и решение</h3>
        <div class="info">
          <p class="info_item">Комментарий к рубрике</p>
<ul>
	<li><a href=# >Наркомания и алкоголизм</a></li>
	<li><a href=# >Концепция болезни</a></li>
	<li><a href=# >Выздоровление</a></li>
	<li><a href=# >Программа «12 шагов»</a></li>
</ul>
		</div>
			</section>

    <section class="accordion_item">
       <h3 class="title_block">Центр «Зебра»</h3>
		<div class="info">
<ul>
	<li ng-repeat="title in zebraCenter"><a href=# >{{title}}</a></li>
</ul>
		</div>
	</section>

		<section class="accordion_item">
  <h3 class="title_block">Координаты</h3>
	<div class="info">

<b>Адрес центра:</b><br>
  Москва, 117186, ул.Нагорная, д.9, корп.2.<br>
  <br>
  <b>Проезд:</b><br>
  <span style="font-size: 11px;">ст. м. Нагорная, далее пешком или маршрутка №746;<br>
  ст. м. Профсоюзная, автобус №44 или маршрутки №414, 698 до ост. &laquo;Колледж МЧС (№38)&raquo;</span><br>

<!-- Всплывающая карта района!!! -->
<a href="javascript:void(0)" title="Посмотреть карту"  onclick="document.getElementById('parent_popup_click').style.display='block';">Карта района</a>

	<div id="parent_popup_click">
<div id="popup_click">
<img src="images/map4.png" width="890" height="746" title="От метро Нагорная до 'Зебры' ходу минут 15-20">
    <a class="close" title="Закрыть" onclick="document.getElementById('parent_popup_click').style.display='none';">X</a>
</div>
	</div>

<br><br>
<b>Телефоны:</b><br>
  8 (925) 545-7236<br>
  8 (499) 127-3988<br><br>

Директор Фонда и руководитель Центра: Савина Екатерина Алексеевна<br>
  <b>E-mail:</b> <a href="mailto:katjasavina@mail.ru">katjasavina@mail.ru</a>


	</div>
		</section><!-- конец координат -->

		<section class="accordion_item">
    <h3 class="title_block">Наши друзья</h3>
     <div class="info">
          <p class="info_item"></p>
<!--  код баннеров -->
	<div style="text-align:center;">
<a href="http://alter-ekb.ru/" target="_blank"><img src="../images/logo-grey2.png" title="Центр социальной адаптации Альтернатива" width="180" height="67" style="border: 1px solid #E2E2E2; padding: 4px;"></a>

<a href="http://www.центр-мост.рф/" target="_blank" title="Реабилитация наркоманов, алкоголиков и игроманов..."><img src="../images/logo-most_180x20.png" width="180" height="20" style="border: 1px solid #E2E2E2; padding: 4px;"></a>

<a href="http://www.metanoia.msdm.ru/" mce_href="http://www.metanoia.msdm.ru/" target="_blank"><img src="../images/metanoia_banner.jpg" alt="баннер Метанойи" title="Православный центр помощи Метанойя" width="88" height="31" style="margin-top: 4px;"></a>
	</div>
      </div>
		</section>

		<section class="accordion_item">
    <h3 class="title_block">Сертификат</h3>
     <div class="info" style="display: block; text-align: center; padding: 5px;">
<img src="images/Sertificat.jpg" alt="" title="Сертификат Москвы" style="max-width: 100%; height: auto;">
      </div>
		</section>

	</div>    <!-- конец блока аккордеон -->

<!-- Имитация счётчика, ТИЦ и соц - заменится статическим кодом -->
	<div style="text-align:center; margin-top: 1em;">


<img src="images/Zebra-banner.jpg" width="190" height="76" alt="" title="Давайте меняться баннерами!" style="display: block; margin: 1em auto;">
<img src="images/metrics.png" width="106" height="105" alt="metrics.png" title="Имитация счётчика посещений">
	</div>

    <!-- Если на странице используется галерея, то здесь скрипт отключить! -->
    <!--	<script src="FancyBox-v2.1.5/lib/jquery-1.10.1.min.js"></script> -->



			</aside>
