<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <aside>
        <div class="search" title="Имитатор модуля поиска">
            <i>Поиск по сайту...</i>
        </div>
        <div class="accordion">

            <script type="text/ng-template" id="section_renderer.html">
                <div ng-if="node.nodes.length == 0">
                    <a ng-href="/section/{{node.alias}}"><h3 class="title_block no_children_block" >{{node.title}}</h3></a>
                </div>
                <div ng-if="node.nodes.length > 0">
                    <h3 class="title_block" >{{node.title}}</h3>
                    <div class="info" style="display:block">
                        <ul>
                            <li>
                                <a ng-repeat="subnode in node.nodes" ng-href="/section/{{subnode.alias}}">{{subnode.title}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </script>
            <section class="accordion_item" ng-repeat="node in nodes" ng-include="'section_renderer.html'">
            </section>
            <section class="accordion_item" ng-show="$ctrl.enableEditing">
                <a href='/Drafts'><h3 class="title_block no_children_block">Черновики</h3></a>
                <!--<h3 class="title_block">Проблема и решение</h3>
                <div class="info">
                    <p class="info_item">Комментарий к рубрике</p>
                    <ul>
                        <li>
                            <a href="#">Наркомания и алкоголизм</a>
                        </li>
                        <li>
                            <a href="#">Концепция болезни</a>
                        </li>
                        <li>
                            <a href="#">Выздоровление</a>
                        </li>
                        <li>
                            <a href="#">Программа «12 шагов»</a>
                        </li>
                    </ul>
                </div>-->
            </section>
            <!--<section class="accordion_item">
                <h3 class="title_block">Центр «Зебра»</h3>
                <div class="info">
                    <ul>
                        <li>
                            <a href="#">{{title}}</a>
                        </li>
                    </ul>
                </div>
            </section>-->
            <section class="accordion_item">
                <h3 class="title_block">Координаты</h3>
                <div class="info">
                    <b>Адрес центра:</b><br>
                    Москва, 117186, ул.Нагорная, д.9, корп.2.<br>
                    <br>
                    <b>Проезд:</b><br>
                    <span style="font-size: 11px;">ст. м. Нагорная, далее
                    пешком или маршрутка №746;<br>
                    ст. м. Профсоюзная, автобус №44 или маршрутки №414, 698 до
                    ост. &laquo;Колледж МЧС (№38)&raquo;</span><br>
                    <!-- Всплывающая карта района!!! -->
                    <a href="javascript:void(0)" onclick=
                    "document.getElementById('parent_popup_click').style.display='block';"
                    title="Посмотреть карту">Карта района</a>
                    <div id="parent_popup_click">
                        <div id="popup_click">
                            <img height="746" src="images/map4.png" title=
                            "От метро Нагорная до 'Зебры' ходу минут 15-20"
                            width="890"> <a class="close" onclick=
                            "document.getElementById('parent_popup_click').style.display='none';"
                            title="Закрыть">X</a>
                        </div>
                    </div><br>
                    <br>
                    <b>Телефоны:</b><br>
                    8 (925) 545-7236<br>
                    8 (499) 127-3988<br>
                    <br>
                    Директор Фонда и руководитель Центра: Савина Екатерина
                    Алексеевна<br>
                    <b>E-mail:</b> <a href=
                    "mailto:katjasavina@mail.ru">katjasavina@mail.ru</a>
                </div>
            </section><!-- конец координат -->
            <section class="accordion_item">
                <h3 class="title_block">Наши друзья</h3>
                <div class="info">
                    <p class="info_item"></p><!--  код баннеров -->
                    <div style="text-align:center;">
                        <a href="http://alter-ekb.ru/" target=
                        "_blank"><img height="67" src=
                        "../images/logo-grey2.png" style=
                        "border: 1px solid #E2E2E2; padding: 4px;" title=
                        "Центр социальной адаптации Альтернатива" width=
                        "180"></a> <a href=
                        "http://www.%D1%86%D0%B5%D0%BD%D1%82%D1%80-%D0%BC%D0%BE%D1%81%D1%82.%D1%80%D1%84/"
                        target="_blank" title=
                        "Реабилитация наркоманов, алкоголиков и игроманов..."><img height="20"
                        src="../images/logo-most_180x20.png" style=
                        "border: 1px solid #E2E2E2; padding: 4px;" width=
                        "180"></a> <a href="http://www.metanoia.msdm.ru/"
                        target="_blank"><img alt="баннер Метанойи" height="31"
                        src="../images/metanoia_banner.jpg" style=
                        "margin-top: 4px;" title=
                        "Православный центр помощи Метанойя" width="88"></a>
                    </div>
                </div>
            </section>
            <section class="accordion_item">
                <h3 class="title_block">Сертификат</h3>
                <div class="info" style=
                "display: block; text-align: center; padding: 5px;"><img alt=""
                src="images/Sertificat.jpg" style=
                "max-width: 100%; height: auto;" title=
                "Сертификат Москвы"></div>
            </section>
        </div><!-- конец блока аккордеон -->
        <!-- Имитация счётчика, ТИЦ и соц - заменится статическим кодом -->
        <div style="text-align:center; margin-top: 1em;"><img alt="" height=
        "76" src="images/Zebra-banner.jpg" style=
        "display: block; margin: 1em auto;" title="Давайте меняться баннерами!"
        width="190"> <img alt="metrics.png" height="105" src=
        "images/metrics.png" title="Имитация счётчика посещений" width=
        "106"></div>
        <div class="adminButton" ng-show="!$ctrl.enableEditing"><a ng-click="adminLogin()">Вход для администратора</a></div>
        <div class="adminButton" ng-show="$ctrl.enableEditing"><a ng-click="adminLogout()">Выход</a></div>
    </aside>
</body>
</html>