div[window-class="errors-window"] > div {
  height: calc(100% - 30vh);
    margin-top: 30vh;
    margin-bottom: 0;
  & .modal-content {
    min-height: 200px;
    padding: 20px 10px 10px 10px;
    display: flex;
    &>div {
      justify-content: space-between;
      min-height:100%;
      flex:1;
    }
  }
}

.errors-list {
  list-style-type: none;
}