<div class="row">
  <input class='form-control' style='margin:10px 0; text-align:center' type='text' ng-model='article.title'></input>
</div>
<div class="row">
  <text-angular ng-model="article.text"></text-angular>
</div>
<div class="row">
  <div class="btn-group addedit-buttons" role="group" aria-label="...">
    <button type="button" class="btn btn-default" ng-click="cancel()">Отменить</button>
    <button type="button" class="btn btn-default" ng-click="save()">Добавить</button>
  </div>
</div>
